* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f8f9fa;
}

html,
body {
  height: 100vh;
}

.active {
  font-weight: bold;
  transition: all 0.3s;
}
